# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Captured images
captured_images/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Model cache
models/
*.h5

# Environment
.env